{% extends 'chapter_template.html' %}

{% block title %}
    <h1 class="text-center">📊 Chapter 2: Data Cleaning</h1>
    
{% endblock %}

{% block content %}
<form method="post">
    <h4>Enter Course name</h4>
    <input name="course"/>
    <br/><br/>
    <h4>Please choose a text variable column to use for task 3: cleaning inconsistent data</h4>
    <select name="task3" id="column-select">
        <option value="" disabled selected>-- Select a column --</option>
        {% for col in text_cols %}
          <option value="{{ col }}">{{ col }}</option>
        {% endfor %}
    </select>
    <h4>Please choose a variable column to use for task 4: creating a new categorical column</h4>
    <select name="task4" id="column-select">
        <option value="" disabled selected>-- Select a column --</option>
        {% for col in numeric_cols %}
          <option value="{{ col }}">{{ col }}</option>
        {% endfor %}
    </select>
    <h4>Please choose a numerical variable column to use for task 5: Creating a Boolean Variable that Represents a Categorical Variable</h4>
    <select name="task5" id="column-select">
        <option value="" disabled selected>-- Select a column --</option>
        {% for col in text_cols%}
          <option value="{{ col }}">{{ col }}</option>
        {% endfor %}
    </select>
    <button type="submit" class="btn btn-primary mt-3">Submit</button>
</form>
{% endblock %}