{% extends 'chapter_template.html' %}

{% block title %}
    <h1 class="text-center">📊 Chapter 4: Data Cleaning</h1>
    <h6>In this chapter, we will guide students through statistical summaries and visual interpretations, including computing key metrics after handling outliers, analyzing histogram shape, and creating scatter and column charts. Please select your variables below to generate the assignment and answer documents.</h6>
{% endblock %}

{% block content %}
<form method="post">
    <h4>Enter Course name</h4>
    <input name="course"/>
    <br/><br/><br/><br/>
    <h4>Next 3 variables are for the data cleaning step</h4>
   
    <h5>Please choose a text variable to use for task 3: cleaning inconsistent data</h5>
    <select name="task3" id="column-select">
        <option value="" disabled selected>-- Select a column --</option>
        {% for col in text_cols %}
          <option value="{{ col }}">{{ col }}</option>
        {% endfor %}
    </select>
    <br/><br/>
    <h5>Please choose a numerical variable to use for task 4: creating a new categorical column</h5>
    <select name="task4" id="column-select">
        <option value="" disabled selected>-- Select a column --</option>
        {% for col in numeric_cols %}
          <option value="{{ col }}">{{ col }}</option>
        {% endfor %}
    </select>
    <br/><br/>
    <h5>Please choose a text variable to use for task 5: Creating a Boolean Variable that Represents a Categorical Variable</h5>
    <select name="task5" id="column-select">
        <option value="" disabled selected>-- Select a column --</option>
        {% for col in text_cols%}
          <option value="{{ col }}">{{ col }}</option>
        {% endfor %}
        
    </select>
    <br/><br/><br/><br/>
    <h4>Next variables are for the the tasks in chapter 4 specifically</h4>
    <h5>Please choose a numeric column to perform calculations</h5>
    <select name="ch4_t1" id="column-select">
        <option value="" disabled selected>-- Select a column --</option>
        {% for col in numeric_cols %}
          <option value="{{ col }}">{{ col }}</option>
        {% endfor %}
    </select>
    <br/><br/>
    <h5>Please choose a numeric variable for the x axis of a scatterplot</h5>
    <select name="ch4_scatter_x" id="column-select">
        <option value="" disabled selected>-- Select a column --</option>
        {% for col in numeric_cols %}
          <option value="{{ col }}">{{ col }}</option>
        {% endfor %}
    </select>
    <br/><br/>
    <h5>Please choose a numeric variable for the y axis of a scatterplot</h5>
    <select name="ch4_scatter_y" id="column-select">
        <option value="" disabled selected>-- Select a column --</option>
        {% for col in numeric_cols %}
          <option value="{{ col }}">{{ col }}</option>
        {% endfor %}
    </select>
    <br/><br/>

    <h5>Please choose a text variable for the x axis of a column chart</h5>
    <select name="ch4_column_x" id="column-select">
        <option value="" disabled selected>-- Select a column --</option>
        {% for col in text_cols %}
          <option value="{{ col }}">{{ col }}</option>
        {% endfor %}
    </select>
    <br/><br/>
    <h5>Please choose a numeric variable for the y axis of a column chart</h5>
    <select name="ch4_column_y" id="column-select">
        <option value="" disabled selected>-- Select a column --</option>
        {% for col in text_cols %}
          <option value="{{ col }}">{{ col }}</option>
        {% endfor %}
    </select>
    <br/><br/>

    <button type="submit" class="btn btn-primary mt-3">Submit</button>




</form>
{% endblock %}