{% extends 'chapter_template.html' %}

{% block title %}
    <h2>Chapter 1 - Research Question</h2>
    <h6>In this chapter, we will guide students to define their research question, interpret metadata through a partially completed table, and narrate their dataset’s purpose using the STAR framework. Please enter your inputs below to generate the assignment and answer documents.</h6>
{% endblock %}

{% block content %}
    <form method="post">
        <h4>Enter Course name</h4>
        <input name="course"/>
        <br/><br/>
        <h4>Enter Research Question</h4>
        <textarea class="form-control" placeholder="Enter research question..." name="question"></textarea>
        <button type="submit" class="btn btn-primary mt-3">Submit</button>
    </form>
{% endblock %}